<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/javascript.js"></script>
</head>
<body>

<p th:text="'What is the German word for: ' + ${question.hungarian} + '?'"></p>

<form action="/exeOne.html" method="post">
    <ul>
        <li th:each="answer : ${answers}">
            <input type="radio" th:field="*{type}" th:value="${answer.foreign}" />
            <label th:for="${#ids.prev('type')}" th:text="#{${'seedstarter.type.' + answer}}">Wireframe</label>
        </li>
    </ul>
    <input type="button" onclick="myFunction()" value="Send answer"/>
    <br/><br/>
    <input type="text" id="solution" size="50"/>
    <input type="submit" value="Next"/>
</form>

</body>
</html>
