<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/javascript.js"></script>
</head>
<body>

<p th:text="'What is the German word for: ' + ${question.hungarian} + '?'"></p>

<form action="/exeOne.html" method="post">
    <div th:each="answer, iterStat : ${answers}">
        <input type="radio" th:name="${answer.foreign}" th:value="${answer.foreign}" th:text="${answer.foreign}" /><br/>
    </div>
    <input type="button" onclick="myFunction()" value="Send answer"/>
    <br/><br/>
    <input type="text" id="solution" size="50"/>
    <input type="submit" value="Next"/>
</form>

</body>
</html>
