<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/javascript.js"></script>
</head>
<body>

<p>What is the German word for: tegnap?</p>

<form action="/hello.html" method="post">
    <input type="radio" name="answer" value="vielleicht"/>vielleicht<br/>
    <input type="radio" name="answer" value="gestern"/>gestern<br/>
    <input type="radio" name="answer" value="wieder"/>wieder<br/>
    <br/>
    <input type="button" onclick="myFunction()" value="Send answer"/>
    <br/><br/>
    <input type="text" id="solution" size="50"/>
    <input type="submit" value="Next"/>
</form>

</body>
</html>
