<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/javascript.js"></script>
</head>
<body>

<p>What is the German word for: tegnap?</p>

<form action="/hello.html" method="post">
    <input type="radio" name="answer" value="answer1" id="1"/>vielleicht<br/>
    <input type="radio" name="answer" value="answer2" id="2"/>gestern<br/>
    <input type="radio" name="answer" value="answer3" id="3"/>wieder<br/>
    <br/>
    <input type="button" onclick="myFunction()" value="Send answer"/>
    <br/><br/>
    <input type="text" id="answer" size="50"/>
    <input type="submit" value="Next"/>
</form>

</body>
</html>
